<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivia</title>
    {% block styles %}    
    <link href="{{ url_for('static', filename='tailwind.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body>
    <div class="flex">
        <nav class="min-h-screen w-16 m-0 bg-gray-950 text-white shadow-lg items-center justify-center">
            <ul>
                <li>
                    <a href="/scores"><div class="sidebar-icon group">
                        <i class="fa-solid fa-medal"></i>
                        <span class="sidebar-tooltip group-hover:scale-100">Top scores</span>
                    </div></a>     
                </li>
                <li>
                    <a href="/play"><div class="sidebar-icon group">
                        <i class="fa-solid fa-play"></i>
                        <span class="sidebar-tooltip group-hover:scale-100">Play</span>
                    </div></a>                                
                </li>            
                {% if not session["userName"] %}
                <li>
                    <a href="/register"><div class="sidebar-icon group">
                        <i class="fa-solid fa-plus"></i>
                        <span class="sidebar-tooltip group-hover:scale-100">Register</span>
                    </div></a>                
                </li>
                <li>
                    <a href="/login"><div class="sidebar-icon group">
                        <i class="fa-solid fa-user"></i>
                        <span class="sidebar-tooltip group-hover:scale-100">Log In</span>
                    </div></a>               
                </li>
                {% endif %}
                {% if session["userName"] %}
                <li>
                    <a href="/stats"><div class="sidebar-icon group">
                        <i class="fa-solid fa-trophy"></i>
                        <span class="sidebar-tooltip group-hover:scale-100">{{ session["userName"] }}</span>
                    </div></a>              
                </li>
                <li>
                    <a href="/logout"><div class="sidebar-icon group">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <span class="sidebar-tooltip group-hover:scale-100">Log out</span>
                    </div></a>                
                </li>
                {% endif %}
            </ul>
        </nav>        
        <main class="bg-gray-900 w-full">
            {% block main %}{% endblock %}
        </main>
    </div>    
    
    <footer>

    </footer>
    {% block javascript %}
        <script>
            setTimeout(function(){
                let flashedMessages = document.getElementById("flashed_messages");
                if (flashedMessages){
                    flashedMessages.remove();
                }
            }, 1500)
        </script>
    {% endblock %}
</body>
</html>