{% extends "layout.html" %}

{% block main %}
<div class="flex min-h-screen justify-center bg-white">
    <div class="p-6 px-0">
        <table class="w-full min-w-max table-auto text-left">
            <thead>
                <tr>
                    <th class="border-y border-blue-100 bg-blue-50/50 p-4">
                        <p class="block antialiased font-sans text-sm text-blue-900 font-normal">
                            #
                        </p>
                    </th>
                    <th class="border-y border-blue-gray-100 bg-blue-50/50 p-4">
                        <p class="block antialiased font-sans text-sm text-blue-900 font-normal">
                            User
                        </p>
                    </th>
                    <th class="border-y border-blue-100 bg-blue-50/50 p-4">
                        <p class="block antialiased font-sans text-sm text-blue-900 font-normal">
                            Score
                        </p>
                    </th>        
                    <th class="border-y border-blue-100 bg-blue-50/50 p-4">
                        <p class="block antialiased font-sans text-sm text-blue-900 font-normal">
                            Correct answers
                        </p>
                    </th>
                </tr> 
            </thead>
            <tbody>
                {% for score in scores %}
                    <tr>
                        <td class="p-4 border-b border-blue-50">
                            <div class="flex items-center gap-3">
                                <p class="block antialiased font-sans text-sm leading-normal text-blue-900 font-normal">{{ score.index}}</p>
                            </div>                            
                        </td>
                        <td class="p-4 border-b border-blue-50">
                            <div class="flex items-center gap-3">
                                <p class="block antialiased font-sans text-sm leading-normal text-blue-900 font-normal">{{ score.userName }}</p>
                            </div>                            
                        </td>             
                        <td class="p-4 border-b border-blue-50">
                            <div class="flex items-center gap-3">
                                <p class="block antialiased font-sans text-sm leading-normal text-blue-900 font-normal">{{ score.score }}</p>
                            </div>                            
                        </td>  
                        <td class="p-4 border-b border-blue-50">
                            <div class="flex items-center gap-3">
                                <p class="block antialiased font-sans text-sm leading-normal text-blue-900 font-normal">{{ score.totalCorrect }}</p>
                            </div>                            
                        </td>                        
                    </tr>
                {% endfor %}
            </tbody>            
        </table>
        {% if page > 1 %}
        <a href="{{url_for('scores',page=page-1)}}">Previous</a>
        {% endif %}
            <span>Page:{{page}} of {{total_pages}}</span>
        {% if page < total_pages %}
            <a href="{{url_for('scores',page=page+1)}}">Next</a>
        {% endif %}
    </div>    
</div>    
{% endblock %}
{% block javascript %}
    
{% endblock %}